<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @assignment.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @assignment.url %>
</p>

<p>
  <strong>Planned start:</strong>
  <%= @assignment.planned_start %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @assignment.duration %>
</p>

<p>
  <strong>Type:</strong>
  <%= @assignment.type %>
</p>
<p>
  <strong>Closed:</strong>
  <%= @assignment.closed %>
</p>
<p>
  <strong>Prio_native:</strong>
  <%= @assignment.prio_native %>
</p>
<p>
  <strong>Status:</strong>
  <%= @assignment.status %>
</p>
<p>
  <strong>Context:</strong>
  <%= @assignment.context %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @assignment.notes %>
</p>

<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>
